.flex-cont{
  display: flex;
  height: calc(100vh - 55px);
}

.side-menu-cont{
  /* width: 300px; */
  
  display: flex;

}
.main-cont{
  flex: 1;
}
.main-menu-cont{
  width: 60px;
  height: 100%;
  border-right: 1px solid #282828;
}
.sub-menu-cont{
  width: 240px;
  height: 100%;
  border-right: 1px solid #282828;
}