.expand-thumb{
  width: 100%;
  /* height: 100%; */

  background-color: #202223;
  border: 1px solid #505050;
  /* border-top: 1px solid #505050;
  border-left: 1px solid #505050; */

  border-radius: 15px;
  /* border-radius: 15px 0 0 0; */

  display: flex;
  flex-direction: column;

  position: relative;

  min-height: 100%;

  padding: 25px;
}
.expand-download-details-btn{
  padding: 5px 15px;
  background-color: #389BA7;
  border-radius: 7px;
}
.expand-thumb-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expand-thumb-title{
  font-size: 19px;
  font-weight: bold;
}
.expand-thumb-details{
  display: flex;
  margin-top: 10px;
  margin-bottom: 25px;
}
.expand-thumb-profile{
  width: 150px;
  height: 150px;
  border-radius: 200px;


  background-color: #313131;
  border: 1px solid #444444;
}

.expand-thumb-name{
  font-size: 20px;
  margin-top: 10px;
}
.expand-personal-details{
  margin-left: 10px;
  flex: 1;
}

.expand-thumb-stats-wrapper{
  display: flex;
  margin-top: 30px;
}

.expant-thumb-stats{
  flex: 1;
  height: 60px;
  background-color: #252729;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 5px;

  padding: 0 15px;
}
.expant-thumb-stats-label{
  line-height: 8px;
  margin-top: 8px;
  font-size: 11px;
}
.expant-thumb-stats-info{
  font-size: 18px;
}

.expand-thumb-attendance-wrapper{
  flex: 1;
  /* max-height: 100%;
  overflow-y: scroll; */
  /* overflow: hidden;
  width: calc(100% - 18px); */
}

.attendance-table{
  margin-top: 20px;
  
  /* height: 100%; */
}

.gridjs-footer{
  background-color: #212325;
  border-top: 1px solid #28282F;
}

.gridjs-pagination .gridjs-pages button:disabled, .gridjs-pagination .gridjs-pages button[disabled], .gridjs-pagination .gridjs-pages button:hover:disabled {
  background-color: #212325;
  border: 1px solid #3B3B3B;
}

.gridjs-pagination .gridjs-pages button{
  background-color: #212325;
  border: 1px solid #3B3B3B;
}
.gridjs-pagination .gridjs-pages button.gridjs-spread{
  background-color: #212325;
  border: 1px solid #3B3B3B;
}

.gridjs-pagination .gridjs-pages button.gridjs-currentPage {
  background-color: #212325;
  border: 1px solid #3B3B3B;
}